<div class="card">   
    <h4>{{title()}}</h4>  

    <form [formGroup]="categoryForm()" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
            <div class="field col-12 md:col-4">
                <app-custom-input
                label="Nombre"
                [control]="$any(categoryForm().get('name'))"
                placeHolder=""
                type="text"
                errorMessage="El campo nombre es obligatorio"
                ></app-custom-input>           
            </div>
            <div class="field col-12 md:col-4">
                <app-custom-input
                label="Icono"
                [control]="$any(categoryForm().get('icon'))"
                placeHolder=""
                type="text"
                errorMessage="El campo icono es obligatorio"
                ></app-custom-input>           
            </div>
            <div class="field col-12 md:col-4">           
                <app-custom-select
                [options]="familyStore.families()"
                [control]="$any(categoryForm().get('familyId'))"
                placeholder="Select a Family">
              </app-custom-select>             
            </div>
            
        </div>

        <div class="flex flex-row-reverse flex-wrap mt-2">
            <div class="flex align-items-center justify-content-center font-bold border-round">
                <button pButton [rounded]="true" class="btn-submit" type="submit" [disabled]="categoryForm().invalid">Guardar</button>
            </div>
            <div class="flex align-items-center justify-content-center  font-bold border-round">
                <a pButton [rounded]="true" class="mr-3 btn-cancel" [routerLink]="['/dashboard/categorias']">Cancelar</a>            
            </div>
            
        </div>
      </form>

</div>
