<div class="card">

    <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center justify-content-center w-6rem h-4rem font-bold border-round m-2">
            <h4>Categorias</h4>
        </div>
        <div class="flex align-items-center justify-content-center w-5rem h-3rem font-bold border-round m-1"> 
            <button pButton [rounded]="true" class="btn-submit" [routerLink]="['crear']">Crear</button>
        </div>
    </div>

    <app-custom-table [columns]="columns" [data]="categoryStore.categories()" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-custom-table>

</div>
