<div class="card">   
    <h4>{{title()}}</h4>

    <form [formGroup]="familyForm()" (ngSubmit)="onSubmit()">
        <div class="field mb-4">
            <app-custom-input
                label="Nombre"
                [control]="$any(familyForm().get('name'))"
                placeHolder=""
                type="text"
                errorMessage="El campo nombre es obligatorio"
            ></app-custom-input>           
        </div>

        <div class="flex flex-row-reverse flex-wrap mt-2">
            <div class="flex align-items-center justify-content-center font-bold border-round">
                <button pButton [rounded]="true" class="btn-submit" type="submit" [disabled]="familyForm().invalid">Guardar</button>
            </div>
            <div class="flex align-items-center justify-content-center  font-bold border-round">
                <a pButton [rounded]="true" class="mr-3 btn-cancel" [routerLink]="['/dashboard/familias']">Cancelar</a>            
            </div>
            
        </div>
      </form>

</div>

