.header {
    padding: 10px;
  
  }
  
  .header h1 {
    margin: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Tres columnas: izquierda, centro, derecha */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px;
  }
  
  .header-title {
    justify-self: start; /* Alinea el texto Header a la izquierda */
  }
  
  .search-field {
    justify-self: center; /* Centra el campo de búsqueda en el medio */
  }
  
  .button-field {
    justify-self: end; /* Alinea el botón a la derecha */
  }
  
  .icon-field {
    display: flex;
    align-items: center;
  }
  
  .icon-field .material-symbols-outlined {
    margin-right: 8px;
    font-size: 24px;
  }
  
  .icon-field input {
    flex: 1;
  }

  .btn_header{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.svg_header{
    fill: var(--primary-color);
}

.header_options{
    margin-right: 10px;
}

 
      