.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: var(--light-primary);
}

.pagination a.active {
    background-color: var(--primary);
    color: var(--light);
}