.btn-table {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;     /* Centrar verticalmente */
    width: 40px;             /* Ajusta el tamaño del botón según necesites */
    height: 40px;            /* Ajusta el tamaño del botón según necesites */
    padding: 0;              /* Quita el padding interno */
  }
  
  .icon-table {
    font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
  }
  
