<div class="card">   
    <h4>Agregar familia</h4>

    <form>
        <div class="field mb-4">
            <label for="firstname1">Nombre</label>
            <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
       

        <div class="flex flex-row-reverse flex-wrap mt-2">
            <div class="flex align-items-center justify-content-center font-bold border-round">
                <button pButton [rounded]="true" class="btn-submit">Crear</button>
            </div>
            <div class="flex align-items-center justify-content-center  font-bold border-round">
                <button pButton [rounded]="true" severity="contrast" class="mr-3 btn-cancel">Cancelar</button>            
            </div>
            
        </div>
      </form>

</div>

