<h2 class="title">Top Rated</h2>

<div class="showcase-wrapper  has-scrollbar">

    <div class="showcase-container">

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/watch-3.jpg" alt="pocket watch leather pouch" class="showcase-img"
                    width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Pocket Watch Leather Pouch</h4>
                </a>

                <a href="#" class="showcase-category">Watches</a>

                <div class="price-box">
                    <p class="price">$50.00</p>
                    <del>$34.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/jewellery-3.jpg" alt="silver deer heart necklace"
                    class="showcase-img" width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Silver Deer Heart Necklace</h4>
                </a>

                <a href="#" class="showcase-category">Jewellery</a>

                <div class="price-box">
                    <p class="price">$84.00</p>
                    <del>$30.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/perfume.jpg" alt="titan 100 ml womens perfume" class="showcase-img"
                    width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Titan 100 Ml Womens Perfume</h4>
                </a>

                <a href="#" class="showcase-category">Perfume</a>

                <div class="price-box">
                    <p class="price">$42.00</p>
                    <del>$10.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/belt.jpg" alt="men's leather reversible belt" class="showcase-img"
                    width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Men's Leather Reversible Belt</h4>
                </a>

                <a href="#" class="showcase-category">Belt</a>

                <div class="price-box">
                    <p class="price">$24.00</p>
                    <del>$10.00</del>
                </div>

            </div>

        </div>

    </div>

    <div class="showcase-container">

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/jewellery-2.jpg" alt="platinum zircon classic ring"
                    class="showcase-img" width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">platinum Zircon Classic Ring</h4>
                </a>

                <a href="#" class="showcase-category">jewellery</a>

                <div class="price-box">
                    <p class="price">$62.00</p>
                    <del>$65.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/watch-1.jpg" alt="smart watche vital plus" class="showcase-img"
                    width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Smart watche Vital Plus</h4>
                </a>

                <a href="#" class="showcase-category">Watches</a>

                <div class="price-box">
                    <p class="price">$56.00</p>
                    <del>$78.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/shampoo.jpg" alt="shampoo conditioner packs" class="showcase-img"
                    width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">shampoo conditioner packs</h4>
                </a>

                <a href="#" class="showcase-category">cosmetics</a>

                <div class="price-box">
                    <p class="price">$20.00</p>
                    <del>$30.00</del>
                </div>

            </div>

        </div>

        <div class="showcase">

            <a href="#" class="showcase-img-box">
                <img src="/img/products/jewellery-1.jpg" alt="rose gold peacock earrings"
                    class="showcase-img" width="70">
            </a>

            <div class="showcase-content">

                <a href="#">
                    <h4 class="showcase-title">Rose Gold Peacock Earrings</h4>
                </a>

                <a href="#" class="showcase-category">jewellery</a>

                <div class="price-box">
                    <p class="price">$20.00</p>
                    <del>$30.00</del>
                </div>

            </div>

        </div>

    </div>

</div>