<div class="product-featured">

    <h2 class="title">Deal of the day</h2>

    <div class="showcase-wrapper has-scrollbar">

        <div class="showcase-container">

            <div class="showcase">

                <div class="showcase-banner">
                    <img src="/img/products/shampoo.jpg" alt="shampoo, conditioner & facewash packs"
                        class="showcase-img">
                </div>

                <div class="showcase-content">

                    <div class="showcase-rating">
                        <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                            <path
                                d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                            <path
                                d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                            <path
                                d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                            <path
                                d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                            </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                            <path
                                d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                            </path>
                        </svg>

                    </div>

                    <a href="#">
                        <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3>
                    </a>

                    <p class="showcase-desc">
                        Lorem ipsum dolor sit amet consectetur Lorem ipsum
                        dolor dolor sit amet consectetur Lorem ipsum dolor
                    </p>

                    <div class="price-box">
                        <p class="price">$150.00</p>

                        <del>$200.00</del>
                    </div>

                    <button class="add-cart-btn">add to cart</button>

                    <div class="showcase-status">
                        <div class="wrapper">
                            <p>
                                already sold: <b>20</b>
                            </p>

                            <p>
                                available: <b>40</b>
                            </p>
                        </div>

                        <div class="showcase-status-bar"></div>
                    </div>

                    <div class="countdown-box">

                        <p class="countdown-desc">
                            Hurry Up! Offer ends in:
                        </p>

                        <div class="countdown">

                            <div class="countdown-content">

                                <p class="display-number">360</p>

                                <p class="display-text">Days</p>

                            </div>

                            <div class="countdown-content">
                                <p class="display-number">24</p>
                                <p class="display-text">Hours</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">59</p>
                                <p class="display-text">Min</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">00</p>
                                <p class="display-text">Sec</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="showcase-container">

            <div class="showcase">

                <div class="showcase-banner">
                    <img src="/img/products/jewellery-1.jpg" alt="Rose Gold diamonds Earring" class="showcase-img">
                </div>

                <div class="showcase-content">

                    <div class="showcase-rating">
                        <div class="showcase-rating">
                            <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                                <path
                                    d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                                <path
                                    d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                                <path
                                    d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                                <path
                                    d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                                </path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="star" width="16" height="24" viewBox="0 0 24 16">
                                <path
                                    d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z">
                                </path>
                            </svg>
    
                        </div>
                    </div>

                    <h3 class="showcase-title">
                        <a href="#" class="showcase-title">Rose Gold diamonds Earring</a>
                    </h3>

                    <p class="showcase-desc">
                        Lorem ipsum dolor sit amet consectetur Lorem ipsum
                        dolor dolor sit amet consectetur Lorem ipsum dolor
                    </p>

                    <div class="price-box">
                        <p class="price">$1990.00</p>
                        <del>$2000.00</del>
                    </div>

                    <button class="add-cart-btn">add to cart</button>

                    <div class="showcase-status">
                        <div class="wrapper">
                            <p> already sold: <b>15</b> </p>

                            <p> available: <b>40</b> </p>
                        </div>

                        <div class="showcase-status-bar"></div>
                    </div>

                    <div class="countdown-box">

                        <p class="countdown-desc">Hurry Up! Offer ends in:</p>

                        <div class="countdown">
                            <div class="countdown-content">
                                <p class="display-number">360</p>
                                <p class="display-text">Days</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">24</p>
                                <p class="display-text">Hours</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">59</p>
                                <p class="display-text">Min</p>
                            </div>

                            <div class="countdown-content">
                                <p class="display-number">00</p>
                                <p class="display-text">Sec</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>